<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Admin Page</title>
</head>
<body>
{{>navbar-authenticated}}
<div class="container mt-5">
    <h2>관리자 페이지</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/admin/users">유저 관리</a>
        </li>
        <li class="list-group-item">
            <a href="/admin/articles">게시글 관리</a>
        </li>
    </ul>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>