<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Article Page</title>
</head>
<body>
{{>navbar-authenticated}}

<div class="container mt-5">
    <p class="display-5 text-break">{{article.title}}</p>
    <div class="d-flex justify-content-between align-items-center">
        <div class="fs-6 text-body-secondary">작성자: {{article.username}}</div>
        <div>
            <button class="btn btn-success" onclick="location.href='/articles/{{article.id}}/update'">수정</button>
            <button class="btn btn-danger" onclick="deleteArticle({{article.id}})">삭제</button>
        </div>
    </div>

    <hr>
    <p class="fs-6 text-break">
        {{article.content}}
    </p>
</div>

<script src="/js/bootstrap.min.js"></script>
<script>
    function deleteArticle(id) {
        fetch(`/api/articles/${id}`,
                {
                    method: 'DELETE'
                }
        ).then((res) => {
            if(res.status === 200){
                alert("삭제가 완료되었습니다.")
                location.replace('/articles')
            }
        })
    }
</script>
</body>
</html>