<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>ArticleList Page</title>
    <style>
        .card{
            transition: transform 0.3s ease-out;
        }
        .card:hover{
            transform: translate(0, -5px);
        }
    </style>
</head>
<body>
{{>navbar-authenticated}}
<div class="w-100 bg-secondary-subtle mt-0" style="height: 200px">
    <div class="container h-100 d-flex align-items-center">
        <div class="w-100 d-flex justify-content-between">
            <div class="display-3 ms-3">게시판</div>
            <button class="btn btn-dark ms-4" onclick="location.href='/articles/write'">글 작성</button>
        </div>
    </div>
</div>
<div class="container mt-3 mb-3">
    <div class="row row-cols-1 row-cols-md-2 gx-md-5 gy-4 mt-3">
        {{#articleList}}
            <div class="col">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title fs-3">{{title}}</h5>
                        <h6 class="card-subtitle text-body-secondary mb-2">{{username}}</h6>
                        <p class="card-text text-secondary">
                            {{content}}...
                        </p>
                        <a href="/articles/{{id}}" class="text-decoration-none stretched-link"></a>
                    </div>
                </div>
            </div>
        {{/articleList}}
    </div>
</div>


<script src="/js/bootstrap.min.js"></script>
</body>
</html>