<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exception Page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<div class="container text-center mt-5">
    {{#errorCode}}
        <div class="alert alert-danger" role="alert">
            <h4>오류가 발생하였습니다.</h4>
            <h1>{{message}}</h1>
        </div>
    {{/errorCode}}
    <button class="btn btn-secondary" onclick="location.href='/'">홈으로 가기</button>
</div>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>