<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Update Page</title>
</head>
<body>
{{>navbar-authenticated}}
<div class="container mt-5">
    <h1 class="mb-4">글 수정</h1>
    <form action="/articles/{{updateInfo.id}}/update" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요"
                       value="{{updateInfo.title}}">
                {{#validMessage_title}}
                    <div class="form-text text-danger">{{validMessage_title}}</div>
                {{/validMessage_title}}
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" id="content" name="content" rows="20" placeholder="내용을 입력하세요">{{updateInfo.content}}</textarea>
                {{#validMessage_content}}
                    <div class="form-text text-danger">{{validMessage_content}}</div>
                {{/validMessage_content}}
            </div>
        <div class="text-end">
            <button type="submit" class="btn btn-success">수정 완료</button>
        </div>

    </form>
</div>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>