<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Writing Page</title>
</head>
<body>
{{>navbar-authenticated}}
<div class="container mt-5">
    <h1 class="mb-4">글 작성</h1>
    <form action="/article/write" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        {{#writeInfo}}
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요"
                value="{{title}}">
                {{#validMessage_title}}
                    <div class="form-text text-danger">{{validMessage_title}}</div>
                {{/validMessage_title}}
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" id="content" name="content" rows="20" placeholder="내용을 입력하세요">{{content}}</textarea>
                {{#validMessage_content}}
                    <div class="form-text text-danger">{{validMessage_content}}</div>
                {{/validMessage_content}}
            </div>
        {{/writeInfo}}
        {{^writeInfo}}
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" id="content" name="content" rows="20" placeholder="내용을 입력하세요"></textarea>
            </div>
        {{/writeInfo}}
        <div class="text-end">
            <button type="submit" class="btn btn-primary">작성 완료</button>
        </div>

    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>